    .platzi-text {
        color: #97c93e !important;
    }
    
    .btn-platzi {
        background-color: #97c93e;
        color: white;
    }
    
    .btn-platzi:hover {
        background-color: #82ad36;
        color: white;
    }
    
    .container-fluid {
        background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
    }
    
    .card img {
        height: 30%;
    }
    
    #header img {
        width: 80px;
    }
    
    #main img {
        /* 70vh -> 70% del alto de la pantalla */
        max-height: 70vh;
        /* object-fit: cover; -> mantiene la propicion original  */
        object-fit: cover;
        filter: grayscale(70%);
    }
    
    #carousel {
        position: relative;
    }
    
    #carousel .overlay {
        /* se expanda por todo el alto y ancho del carousel */
        position: absolute;
        /* para que no tenga espacio de arriva, abajo, izquierda y derecha  -> top y bottom */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }
    
    #carousel .overlay .container,
    #carousel .overlay .row {
        height: 100%;
    }
    
    #place-time img {
        max-width: 100%;
    }
    
    #footer {
        background: linear-gradient(90deg, #1c3643, #273b47 10%, #1e5372);
    }
    
    #footer a {
        color: white;
    }